In [19]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

## Sorting our the index of our dataframe --- df.index

In [20]:
df.index           ## shows the range of our index

RangeIndex(start=0, stop=785741, step=1)

In [21]:
df.index.name   ## to check the name of our index attribute. in this case, there's none

In [22]:
df.index.name = 'job_index'

In [23]:
df.head(5)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
job_index,,,,,,,,,,,,,,,,,
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."

In [24]:
df.index.dtype     ## to check the data type for the index

dtype('int64')

1. reset index -- when we filter our data frame for example, the index might get messy and not orderly. so we use reset index to fix this ------
df.reset_index(inplace=True)

In [ ]:
df_usa = df[df['job_country'] == 'United States']

df_usa                                ## you can see the index is not orderly

In [ ]:
df_usa.reset_index(inplace=True)

df_usa

2. Set Index -- you can set a column as an index using the column name. you might lose data doing this, as it drops the previous index to set the new

In [ ]:
df_usa.set_index('job_index', inplace=True)

df_usa

3. Assuming you have a dataframe with strings as the index, or you have done a pivot on your dataframe, you can then use the sort index function to sort this out. 
In that case, it sorts the index in alphabetic order, whether ascending or descending order.

In [ ]:
df_usa.sort_index()